<span class="margintop"></span>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to "montrer la tache", @task,  :class => "btn btn-primary little-marg" %> |
  <%= link_to "Retour", tasks_path, class: "btn btn-primary little-marg" %>
</div>



