


<span class="Hone" >
  <h1 >all my tasks</h1>
   <%=  link_to "Ajouter une tache", new_task_path,  {:class => "btn btn-lg btn-outline-secondary mt-3 mt-sm-0 ms-sm-3 add"}%>

</span>

<div id="tasks" class="value">

 <% @tasks.each do |task| %> 
    <%= render task %>

      <p class="margin-bottom">
        <%= link_to "Ouvrire la tache", task,  :class => "btn btn-primary" %>
      </p>
  <% end %>

</div>
