/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');





 body{
    background-image: url(backround.svg);
    display: flex;
    flex-direction: column;
    align-items: center;

    .little-marg{
        margin: 20px;
    }


    .margintop{
        margin-top: 100px;
    }
    .nv{
        margin-top: 100px;
        margin-bottom: 50px;

    }


    a {text-decoration: none;}

    H1{
        font-size: 100px;
        font-family: 'Poppins', sans-serif;
    }
    .Hone{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 60px;
        margin-bottom: 130px;
        padding-left: 100px;
        padding-right: 100px;

    }

    .name{
        font-size: 30px;
        font-family: 'Poppins', sans-serif;

            
    }
     .name-statuts{
         display: flex;
         flex-direction: column;

     }
     .add{
         display: flex;
         align-items: center;
         justify-content: center;
         height: 50px;

     }
     .add a{
         color: rgb(255, 255, 255);
     }

     .value{
         display: flex;
         align-items: flex-start;
         flex-direction: column;
     }

     .margin-bottom{
        margin-bottom: 50px;
     }
 }

 

 